# <font color='DE1509'>**การวิเคราะห์ข้อมูลเบื้องต้น**</font>

---

In [1]:
import numpy as np
import pandas as pd
import statistics

&nbsp;  
#### 4.1 ได้ทำการสุ่มตัวอย่างผู้ป่วยในแผนกหนึ่งจำนวน 10 คนและวัดส่วนสูง ได้ค่าดัง heights จงหาค่าเฉลี่ยส่วนสูง

In [2]:
heights = [172, 154, 165, 159, 173, 177, 180, 169, 158, 175]

\
ใช้ built-in function

In [3]:
sum(heights)/len(heights)

168.2

\
ใช้ numpy.mean()

In [4]:
np.mean(heights)

168.2

\
ใช้ statistics.mean()

In [5]:
statistics.mean(heights)

168.2

&nbsp;  
#### 4.2 ตารางแจกแจงความถี่แสดงเวลาที่รถยนต์ซึ่งถูกสุ่มเป็นตัวอย่างจำนวน 40 คันใช้ในการรอสัญญาณไฟจราจร ก่อนที่จะผ่านสี่แยกหลักสี่ มีข้อมูลดังปรากฏในไฟล์ 'ex3_2_traffic.csv' จงหาเวลาเฉลี่ยที่รถยนต์ 40 คันใช้ในการรอสัญญาณไฟจราจร

In [6]:
df_traffic = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_2_traffic.csv')
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)
0            11-15            5
1            16-20            4
2            21-25           10
3            26-30            8
4            31-35            6
5            36-40            7

แต่คอลัมน์ช่วงเวลายังเป็น String ของช่วงเวลา เราต้องทำการแยก ขอบเขตบนและขอบเขตล่าง และแปลงค่าให้เป็น int/double

\
ก่อนอื่นต้องหาค่ากึ่งกลาง ของแต่ละช่วงเวลาที่รอ เพื่อให้สะดวกในการแสดงผลเราจะแสดงค่ากึ่งกลางเป็นคอลัมน์ใหม่

In [7]:
boundary = df_traffic['เวลาที่รอ (นาที)'].str.split('-', expand=True).astype(int)
boundary

    0   1
0  11  15
1  16  20
2  21  25
3  26  30
4  31  35
5  36  40

In [8]:
df_traffic['ค่ากึ่งกลาง (x)'] = (boundary[0]+boundary[1])/2  #hardcore mode
# หรือ df_traffic['ค่ากึ่งกลาง (x)'] = np.arange(13,38+5,5)
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)  ค่ากึ่งกลาง (x)
0            11-15            5             13.0
1            16-20            4             18.0
2            21-25           10             23.0
3            26-30            8             28.0
4            31-35            6             33.0
5            36-40            7             38.0

\
คำนวณค่ากึ่งกลางคูณด้วยความถี่ (fx)

In [9]:
df_traffic['fx'] = df_traffic['ความถี่ (f)']*df_traffic['ค่ากึ่งกลาง (x)']
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)  ค่ากึ่งกลาง (x)     fx
0            11-15            5             13.0   65.0
1            16-20            4             18.0   72.0
2            21-25           10             23.0  230.0
3            26-30            8             28.0  224.0
4            31-35            6             33.0  198.0
5            36-40            7             38.0  266.0

\
คำนวณเวลาเฉลี่ยที่รถยนต์ 40 คันใช้ในการรอสัญญาณไฟจราจร

In [10]:
df_traffic['fx'].sum() / df_traffic['ความถี่ (f)'].sum()   #หรือ df_traffic['fx'].sum() / 40 โจทย์บอกตั้งแต่แรกมี n=40

26.375

&nbsp;   
#### 4.3 ในการสอบวิชาการเขียนโปรแกรมครั้งหนึ่งมีนักศึกษาเข้าสอบ 3 กลุ่ม โดยที่ <br>กลุ่ม 1 มีนิสิตเข้าสอบ 50 คน มีคะแนนเฉลี่ย 58 คะแนน<br>กลุ่ม 2 มีนิสิตเข้าสอบ 40 คน มีคะแนนเฉลี่ย 70 คะแนน<br>กลุ่ม 3 มีนิสิตเข้าสอบ 60 คน มีคะแนนเฉลี่ย 52 คะแนน<br>จงหาค่าเฉลี่ยรวมของคะแนนสอบของนิสิตที่เรียนวิชาการเขียนโปรแกรม

In [11]:
df_prog = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_3_programming.csv")
df_prog

   section  num_student  avg_score
0        1           50         58
1        2           40         70
2        3           60         52

หาค่าเฉลี่ยรวมของคะแนนสอบของนิสิตที่เรียนวิชาการเขียนโปรแกรม

In [12]:
sum(df_prog.num_student*df_prog.avg_score)/df_prog.num_student.sum()

58.8

&nbsp;  
#### 4.4 ทำการสำรวจรายได้ของผู้ที่มาใช้บริการธนาคารแห่งหนึ่งจำนวน 11 คน ได้ข้อมูลดังนี้

In [13]:
income = [25000, 32000, 45000, 22000, 18000, 34000, 27000, 90000, 97000, 38000, 75000]

In [14]:
len(income)

11

\
ลองเรียงลำดับข้อมูล

In [15]:
sorted(income)

[18000, 22000, 25000, 27000, 32000, 34000, 38000, 45000, 75000, 90000, 97000]

\
หาค่า median

In [16]:
sorted(income)[(int)((len(income)+1)/2)-1]

34000

In [17]:
np.median(income)

34000.0

In [18]:
statistics.median(income)

34000

\
หาค่า mean

In [19]:
np.mean(income)

45727.27272727273

&nbsp;  
#### 4.5 สุ่มนิสิตมา 10 คน พบว่ามี GPA ดังนี้  3.5, 2.4, 3.3, 2.7, 3.6, 3.9, 3.0, 2.8, 3.1, 2.9<br>มัธยฐาน GPA ของตัวอย่างมีค่าเท่าใด?

In [20]:
gpa = [3.5, 2.4, 3.3, 2.7, 3.6, 3.9, 3.0, 2.8, 3.1, 2.9]

In [21]:
np.median(gpa)

3.05

&nbsp;  
#### 4.6 ตาราง "ex4_6_visitor.csv" แสดงระยะเวลา (หน่วย: วัน) ที่นักท่องเที่ยวชาวต่างประเทศที่ถูกสุ่มเป็นตัวอย่างจำนวน 36 คน ใช้เวลาท่องเที่ยวในประเทศไทยในช่วง 1 ปี มีดังตาราง จงหามัธยฐานของระยะเวลาที่นักท่องเที่ยวชาวต่างประเทศใช้ท่องเที่ยวในประเทศไทย

In [22]:
df_visit = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_6_visitor.csv")
df_visit

  duration  num_visitor
0      1-7            4
1     8-14            6
2    15-21            5
3    22-28           10
4    29-35            6
5    36-42            4
6    43-49            1

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [23]:
df_visit[['du_from', 'du_to']] = df_visit.duration.str.split('-', expand=True).astype(int)
df_visit

  duration  num_visitor  du_from  du_to
0      1-7            4        1      7
1     8-14            6        8     14
2    15-21            5       15     21
3    22-28           10       22     28
4    29-35            6       29     35
5    36-42            4       36     42
6    43-49            1       43     49

\
สร้าง column ความถี่สะสมของจำนวนนักท่องเที่ยว

In [24]:
df_visit['num_visitor_cum'] = df_visit.num_visitor.cumsum()
df_visit

  duration  num_visitor  du_from  du_to  num_visitor_cum
0      1-7            4        1      7                4
1     8-14            6        8     14               10
2    15-21            5       15     21               15
3    22-28           10       22     28               25
4    29-35            6       29     35               31
5    36-42            4       36     42               35
6    43-49            1       43     49               36

\
หาตำแหน่งของ median

In [25]:
med_pos = df_visit.num_visitor.sum()/2
med_pos

18.0

\
หาชั้นที่ตำแหน่ง median อยู่ (ใช้ตาดูเอาก็ได้)

In [26]:
for i in df_visit.index:
    if df_visit.num_visitor_cum[i] >= med_pos:
        e=i
        break
e

3

\
ซึ่งจะอยู่ในชั้นที่ 4 (index 3) มีระยะเวลา 22-28  
หาขอบเขตล่าง (ดูจากตารางแล้วคำนวณในใจก็ได้, (21+22)/2 )

In [27]:
lower = (df_visit.du_from[e]+df_visit.du_to[e-1])/2
lower

21.5

\
หาค่า median

In [28]:
lower+( (med_pos - df_visit.num_visitor_cum[e-1]) / df_visit.num_visitor[e])*7

23.6

&nbsp;  
#### 4.7 หาฐานนิยมของข้อมูลแต่ละชุดต่อไปนี้
&emsp;**1) 9, 2, 3, 5, 7, 2, 1, 5, 2**

In [29]:
data = [9, 2, 3, 5, 7, 2, 1, 5, 2]
statistics.mode(data)
statistics.multimode(data)

[2]

&emsp;**2) 3, 5, 5, 8, 7, 3, 2**

In [30]:
data = [3, 5, 5, 8, 7, 3, 2]
statistics.mode(data)

3

ผลที่แสดงขาด 5 ไป ต้องใช้ multimode

In [31]:
statistics.multimode(data)

[3, 5]

&emsp;**3) 1, 2, 3, 4, 5**

In [32]:
data = [1, 2, 3, 4, 5]
statistics.mode(data)

1

In [33]:
statistics.multimode(data)

[1, 2, 3, 4, 5]

การใช้ทั้ง mode() และ multimode() จึงต้องระวัง วิธีการหนึ่งคือตรวจสอบว่าจำนวนของข้อมูลเริ่มต้นและข้อมูลที่ตัดข้อมูลซ้ำออกไปแล้วเท่ากันหรือไม่ หากเท่ากันแสดงว่าข้อมูลนั้นไม่มี mode

In [34]:
len(data) == len(np.unique(data))

True

&emsp;**4) ข้อมูลได้จากการสำรวจความชอบอาหารชนิดหนึ่ง (ชอบ เฉยๆ ไม่ชอบ):**  
&emsp;**ชอบ ไม่ชอบ ชอบ ชอบ ไม่ชอบ เฉยๆ ชอบ**

In [35]:
data = ['ชอบ', 'ไม่ชอบ', 'ชอบ', 'ชอบ', 'ไม่ชอบ', 'เฉยๆ', 'ชอบ']
statistics.mode(data)

'ชอบ'

&nbsp;  
#### 4.8 ตาราง "ex4_6_visitor.csv" แสดงระยะเวลา (หน่วย: วัน) ที่นักท่องเที่ยวชาวต่างประเทศที่ถูกสุ่มเป็นตัวอย่างจำนวน 36 คน ใช้เวลาท่องเที่ยวในประเทศไทยในช่วง 1 ปี มีดังตาราง จงหาฐานนิยมของระยะเวลาที่นักท่องเที่ยวชาวต่างประเทศใช้ท่องเที่ยวในประเทศไทย

In [36]:
df_visit = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_6_visitor.csv")
df_visit

  duration  num_visitor
0      1-7            4
1     8-14            6
2    15-21            5
3    22-28           10
4    29-35            6
5    36-42            4
6    43-49            1

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [37]:
df_visit[['du_from', 'du_to']] = df_visit.duration.str.split('-', expand=True).astype(int)
df_visit

  duration  num_visitor  du_from  du_to
0      1-7            4        1      7
1     8-14            6        8     14
2    15-21            5       15     21
3    22-28           10       22     28
4    29-35            6       29     35
5    36-42            4       36     42
6    43-49            1       43     49

\
หาชั้นที่ mode อยู่

In [38]:
e = np.argmax(df_visit.num_visitor)
e

3

\
ซึ่งจะอยู่ในชั้นที่ 4 (index 3) มีระยะเวลา 22-28  
หาขอบเขตล่าง

In [39]:
lower = (df_visit.du_from[e]+df_visit.du_to[e-1])/2
lower

21.5

In [40]:
de_minus1 = np.abs(df_visit.num_visitor[e] - df_visit.num_visitor[e-1])
de_minus1

5

In [41]:
de_plus1 = np.abs(df_visit.num_visitor[e] - df_visit.num_visitor[e+1])
de_plus1

4

\
หาค่า mode

In [42]:
lower + ( de_minus1/(de_minus1+de_plus1) )*7

25.38888888888889

&nbsp;  
#### 4.9 สุ่มตัวอย่างนิสิตจำนวน 10 คน และสอบถามถึงจำนวนครั้งในการไปใช้บริการร้านสะดวกซื้อในหนึ่งสัปดาห์ ได้ข้อมูลมาดังนี้ 10, 5, 3, 9, 17, 15, 9, 2, 7, 8   จงคำนวณค่า Q<sub>1</sub> และ D<sub>7</sub>

In [43]:
conv = [10, 5, 3, 9, 17, 15, 9, 2, 7, 8]

In [44]:
np.percentile(conv,25, method='weibull')

4.5

In [45]:
np.percentile(conv,70, method='weibull')

9.7

&nbsp;  
#### 4.10 จงคำนวณค่าของ Q<sub>3</sub>, D<sub>3</sub> และ P<sub>60</sub> จากตารางแสดงระยะเวลาที่ครบกำหนดของการลงทุนระยะสั้นที่บริษัทต่างๆ จำนวน 40 บริษัทกำหนดไว้ดังตาราง 'ex3_10_investment.csv'

In [46]:
df_invest = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_10_investment.csv")
df_invest

  duration  num_company
0    30-39            3
1    40-49            1
2    50-59            8
3    60-69           10
4    70-79            7
5    80-89            7
6    90-99            4

\
สร้าง column ความถี่สะสมของจำนวนบริษัท

In [47]:
df_invest['num_company_cum'] = df_invest.num_company.cumsum()
df_invest

  duration  num_company  num_company_cum
0    30-39            3                3
1    40-49            1                4
2    50-59            8               12
3    60-69           10               22
4    70-79            7               29
5    80-89            7               36
6    90-99            4               40

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [48]:
df_invest[['du_from', 'du_to']] = df_invest.duration.str.split('-', expand=True).astype(int)
df_invest

  duration  num_company  num_company_cum  du_from  du_to
0    30-39            3                3       30     39
1    40-49            1                4       40     49
2    50-59            8               12       50     59
3    60-69           10               22       60     69
4    70-79            7               29       70     79
5    80-89            7               36       80     89
6    90-99            4               40       90     99

&emsp;**1) Q<sub>3</sub>**

หาชั้นที่ Q<sub>3</sub> อยู่

In [49]:
n = 40

In [50]:
q3_pos = n*3/4
q3_pos

30.0

ดังนั้นอยู่ชั้นที่ 6 (index 5) e=5  
หาค่าขอบเขตล่าง L

In [51]:
e = 5
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

79.5

หาค่า Q<sub>3</sub>

In [52]:
lower+( (q3_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

80.92857142857143

&emsp;**2) D<sub>3</sub>**

In [53]:
D3_pos = n*3/10
D3_pos

12.0

ดังนั้นอยู่ชั้นที่ 3 (index 2) e=2  
หาค่าขอบเขตล่าง L

In [54]:
e = 2
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

49.5

หาค่า D<sub>3</sub>

In [55]:
lower+( (D3_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

59.5

&emsp;**3) P<sub>60</sub>**

In [56]:
P60_pos = n*60/100
P60_pos

24.0

ดังนั้นอยู่ชั้นที่ 5 (index 2) e=4  
หาค่าขอบเขตล่าง L

In [57]:
e = 4
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

69.5

หาค่า P<sub>60</sub>

In [58]:
lower+( (P60_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

72.35714285714286

&nbsp;  
#### 4.11 ทำการสุ่มเลือกนิสิต 7 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังนี้ 300, 250, 150, 120, 240, 180, 250 จงคำนวณค่าพิสัย

In [59]:
expense = [300, 250, 150, 120, 240, 180, 250]

หาพิสัย

In [60]:
max(expense) - min(expense)

180

&nbsp;  
#### 4.12 สุ่มตัวอย่างนิสิตจำนวน 10 คน และสอบถามถึงจำนวนครั้งในการไปใช้บริการร้านสะดวกซื้อในหนึ่งสัปดาห์ ได้ข้อมูลมาดังนี้ 10, 5, 3, 9, 17, 15, 9, 2, 7, 8   จงคำนวณค่า Q1 และ D7ทำการสุ่มเลือกนิสิต 7 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังนี้ 300, 250, 150, 120, 240, 180, 250 จงคำนวณค่าส่วนเบี่ยงเบนมาตรฐานและความแปรปรวน

In [61]:
cost = [300, 250, 150, 120, 240, 180, 250]

\
หาค่าส่วนเบี่ยงเบนมาตรฐาน

In [62]:
np.std(cost, ddof=1)

64.21689437998013

***Note:***  
การใช้ ddof = 1 จะหมายถึงตามสูตรหารด้วย n-1 (degree of freedom ของตัวอย่าง)  
หากไม่กำหนดค่า default คือ 0 จะหมายถึงตามสูตรหารด้วย n (degree of freedom ของประชากร)

\
หาค่าความแปรปรวน

In [63]:
np.var(cost, ddof=1)

4123.809523809524

&nbsp;  
#### 4.13 ทำการสุ่มเลือกนิสิต 20 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังตาราง 'ex3_13_expense.csv'  จงคำนวณส่วนเบี่ยงเบนมาตรฐานของค่าใช้จ่ายต่อวัน

In [64]:
df_expense = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/ex4_13_expense.csv")
df_expense

   expense  num_student
0    50-99            2
1  100-149            3
2  150-199            7
3  200-249            5
4  250-300            3

\
แปลง expense ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [65]:
df_expense[['du_from', 'du_to']] = df_expense.expense.str.split('-', expand=True).astype(int)
df_expense

   expense  num_student  du_from  du_to
0    50-99            2       50     99
1  100-149            3      100    149
2  150-199            7      150    199
3  200-249            5      200    249
4  250-300            3      250    300

\
หาค่าเฉลี่ย

In [66]:
x_bar = sum((df_expense.du_from+df_expense.du_to)/2  * df_expense.num_student) / df_expense.num_student.sum()
x_bar

184.575

\
หาค่าส่วนเบี่ยงเบนมาตรฐาน

In [67]:
n =  20

In [68]:
sum_fx2 = sum( ((df_expense.du_from+df_expense.du_to)/2)**2  * df_expense.num_student)
np.sqrt((sum_fx2 - n*x_bar**2) / (n-1))

59.94323520939148

&nbsp;  
#### 4.14 โรงงานผลิตยาแห่งหนึ่งมีเครื่องจักรที่ใช้ผลิตยา 2 เครื่อง โดยกำหนดให้เครื่องที่ 1 ผลิตยาขนาด 250 มิลลิกรัม ปรากฏว่ายาที่ผลิตได้มีน้ำหนักเฉลี่ย 252 มิลลิกรัมค่าเบี่ยงเบนมาตรฐาน 2.4 มิลลิกรัม ส่วนเครื่องที่ 2 กำหนดให้ผลิตยาขนาด 500 มิลลิกรัม ปรากฏว่ายาที่ผลิตได้มีน้ำหนักเฉลี่ย 496 มิลลิกรัม ค่าเบี่ยงเบนมาตรฐาน 3.6 มิลลิกรัม จงเปรียบเทียบว่าเครื่องจักรใดผลิตยาได้ถูกต้องมากกว่า เพราะเหตุใด

เครื่องจักรที่ 1:

In [69]:
cv1 = 2.4*100/252
cv1

0.9523809523809523

\
เครื่องจักรที่ 2:

In [70]:
cv2 = 3.6*100/496
cv2

0.7258064516129032