In [36]:
import numpy as np
import pandas as pd

In [37]:
df_bank = pd.read_csv("bank_transaction_time.csv")
df_bank

  transaction_time  customer_count
0             7-11               4
1            12-16              15
2            17-21               6
3            22-26               0
4            26-30               2

**Part 1 : หาค่า Mean**
สูตรหา Mean ของข้อมูลจัดกลุ่ม : $$\bar{x}=\frac{\sum_{i=1}^{g}f_i x_i}{n}$$
<br>g คือ จำนวนหมวดหมู่<br>
<br>n คือ จำนวนตัวอย่างทั้งหมด<br>
<br>f คือ ค่ากลางในแต่ละหมวดหมู่<br>
<br>x คือ ค่าของแต่ละหมวดหมู่

In [38]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['mid_value'] = (boundary[0] + boundary[1])/2
mean = sum(df_bank['mid_value']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

**Part 2 : หาค่ามัธยฐาน(Median)**
สูตรหา Median ของข้อมูลจัดกลุ่ม : $$M_e=L_e+\frac{\frac{n}{2}-\sum_{b=1}^{e}f_b}{f_e}\cdot I$$
<br>1.เรียงลำดับข้อมูลก่อน จากมากไปน้อยหรือน้อยไปมากก็ได้<br>
<br>2.หาตำแหน่ง n+1/2 <br>
<br>L_e คือ ขอบเขตล่างของชั้น<br>
<br>n คือ จำนวนข้อมูลทั้งหมด<br>
<br>summation e b = 1fb คือ ผลรวมของความถี่ของทุกชั้นก่อนถึงชั้นที่มีมัธยฐานอยู๋<br>
<br>fe คือ ความถี่ของชั้นที่มีมัธยฐานอยู่<br>
<br>I คือ ความกว้างของชั้นที่มีมัธฐานอยู่ (ขอบเขตบน - ขอบเขตล่าง +1)<br>

<br>1 เพิ่มคอลัมสำหรับ ferq ของจำนวนข้อมูล<br>
<br>2 หาตำแหน่งกลางของข้อมูล<br>
<br>3 หาค่า e โดยการนำ ferq ไปเทียบตำแหน่งข้อมูล<br>
<br>4 หา Le เอาช่วงที่ e index 0 อยู่แล้ว - 0.5<br>
<br>5 หา fe จำนวนลูกค้าในช่วง e<br>
<br>6 I = np.ceil 1 - 0 หาความกว้างของข้อมูลแต่ละชั้น<br>
<br>7 หา nedian โดย le + ((med_pos - ferq[e-1])/fe)*I<br>

สูตรหา Median ของข้อมูลจัดกลุ่ม : $$M_e=L_e+\frac{\frac{n}{2}-\sum_{b=1}^{e}f_b}{f_e}\cdot I$$

In [39]:
df_bank

  transaction_time  customer_count  mid_value
0             7-11               4        9.0
1            12-16              15       14.0
2            17-21               6       19.0
3            22-26               0       24.0
4            26-30               2       28.0

In [40]:
'''df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
med = Le + ((med_pos - df_bank['ferq_customer_count'][e-1])/fe)*I
med'''

"df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()\nboundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)\nmed_pos = sum(df_bank['customer_count'])/2\ne = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]\nLe = boundary[0][e] - 0.5\nfe = df_bank['customer_count'][e]\nI = np.ceil(16-11)\nmed = Le + ((med_pos - df_bank['ferq_customer_count'][e-1])/fe)*I\nmed"

สูตรหา Mode ของข้อมูลจัดกลุ่ม : $$M_o=L_e+\frac{d_{e-1}}{d_{e-1}+d_{e+1}}\cdot I$$

In [41]:
'''df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
med_pos = (sum(df_bank['customer_count']))/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
Le = boundary[0][e] - 0.5
d_prev = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e-1])
d_next = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e+1])
I = np.ceil(16-11)
mode = Le + (d_prev/(d_prev + d_next))*I
mode
'''

"df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()\nmed_pos = (sum(df_bank['customer_count']))/2\ne = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]\nboundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)\nLe = boundary[0][e] - 0.5\nd_prev = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e-1])\nd_next = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e+1])\nI = np.ceil(16-11)\nmode = Le + (d_prev/(d_prev + d_next))*I\nmode\n"

สูตรหา S.D. ของข้อมูลจัดกลุ่ม (ประชากร) : $$s=\sqrt{\frac{\sum_{i=1}^{n}f_ix^2_i-n\bar{x}^2}{n-1}}$$

In [42]:
df_bank

  transaction_time  customer_count  mid_value
0             7-11               4        9.0
1            12-16              15       14.0
2            17-21               6       19.0
3            22-26               0       24.0
4            26-30               2       28.0

In [51]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['mid_value'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['mid_value']*df_bank['customer_count'])/sum(df_bank['customer_count'])
print(mean)
summidx2 = sum(df_bank['customer_count']*(df_bank['mid_value']**2))
print(summidx2)
std = np.sqrt((summidx2 - ((sum(df_bank['customer_count'])*(mean**2))))/(sum(df_bank['customer_count'])-1))
std

15.407407407407407
6998.0

4.75765989067395