In [1]:
import numpy as np
import pandas as pd

In [2]:
df_bank = pd.read_csv("bank_transaction_time.csv")
df_bank

  transaction_time  customer_count
0             7-11               4
1            12-16              15
2            17-21               6
3            22-26               0
4            26-30               2

หาค่า mean

In [4]:
boundary = df_bank['transaction_time'].str.split("-",expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [5]:
boundary = df_bank['transaction_time'].str.split("-",expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [6]:
boundary = df_bank['transaction_time'].str.split("-",expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [11]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [12]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [16]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

In [19]:
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
df_bank['Midvalue'] = (boundary[0]+boundary[1])/2
mean = sum(df_bank['Midvalue']*df_bank['customer_count'])/sum(df_bank['customer_count'])
mean

15.407407407407407

หค่ามัธยฐาน

In [7]:
df_bank

  transaction_time  customer_count  Midvalue
0             7-11               4       9.0
1            12-16              15      14.0
2            17-21               6      19.0
3            22-26               0      24.0
4            26-30               2      28.0

หาค่า median

In [9]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split("-",expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
med = Le + ( (med_pos - df_bank['ferq_customer_count'][e-1])/fe)*I
med

14.666666666666666

In [10]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
med_pos = sum(df_bank['customer_count'])/2
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
med = Le + ( (med_pos - (df_bank['ferq_customer_count'][e-1]))/fe)*I
med

14.666666666666666

In [15]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
medd = Le + ((med_pos - df_bank['ferq_customer_count'][e-1])/fe)*I
medd

14.666666666666666

In [17]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
medd = Le + ((med_pos - df_bank['ferq_customer_count'][e-1])/fe)*I
medd

14.666666666666666

In [22]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
I = np.ceil(16-11)
medd = Le + ((med_pos - df_bank['ferq_customer_count'][e - 1])/fe)*I
medd

14.666666666666666

In [ ]:
df_bank

  transaction_time  customer_count  Midvalue
0             7-11               4       9.0
1            12-16              15      14.0
2            17-21               6      19.0
3            22-26               0      24.0
4            26-30               2      28.0

สูตรหา Mode ของข้อมูลจัดกลุ่ม : $$M_o=L_e+\frac{d_{e-1}}{d_{e-1}+d_{e+1}}\cdot I$$

In [23]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
d_p = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e-1])
d_n = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e+1])
I = np.ceil(16-11)
mode = Le + (d_p/(d_p + d_n))*I
mode

14.25

In [25]:
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
med_pos = sum(df_bank['customer_count'])/2
e = df_bank[df_bank['ferq_customer_count'] >= med_pos ].index[0]
Le = boundary[0][e] - 0.5
fe = df_bank['customer_count'][e]
d_p = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e-1])
d_n = np.abs(df_bank['customer_count'][e] - df_bank['customer_count'][e+1])
I = np.ceil(16-11)
mode = Le + (d_p/(d_p + d_n))*I
mode

14.25

สูตรหา S.D. ของข้อมูลจัดกลุ่ม (ประชากร) : $$s=\sqrt{\frac{\sum_{i=1}^{n}f_ix^2_i-n\bar{x}^2}{n-1}}$$

In [27]:
sumfx2 = sum(df_bank['customer_count']*(df_bank['Midvalue']**2))
s = (sumfx2 - (sum(df_bank['customer_count']*(mean**2))))/(sum(df_bank['customer_count'])-1)
std = np.sqrt(s)
std

4.757659890673954

In [29]:
P80_pos = sum(df_bank['customer_count'])*(80/100)
df_bank['ferq_customer_count'] = df_bank['customer_count'].cumsum()
boundary = df_bank['transaction_time'].str.split('-',expand=True).astype(int)
e_p80 = df_bank[df_bank['ferq_customer_count'] >= P80_pos].index[0]
Le = boundary[0][e_p80] - 0.5
fe = df_bank['customer_count'][e_p80]
I = np.ceil(16-11)
P80 = Le + ((P80_pos - df_bank['ferq_customer_count'][e_p80 - 1])/fe)*I
P80

18.666666666666668