In [28]:
import pandas as pd
import numpy as np

In [29]:
df_calculus = pd.read_csv("calculus_student_scores.csv")
df_calculus

  calculus_scores  student_count
0           30-40              1
1           41-50              1
2           51-60              9
3           61-70             19
4           71-80             22
5           81-90              5
6          91-100              3

**Part 1 : หาค่าเฉลี่ยเลขคณิตของคะแนน**

In [31]:
boundary = df_calculus['calculus_scores'].str.split('-',expand=True).astype(int)
df_calculus['mid_value'] = (boundary[0] + boundary[1])/2
mean = sum(df_calculus['mid_value']*df_calculus['student_count'])/sum(df_calculus['student_count'])
mean

69.99166666666666

**Part 2 : หาค่ามัธยฐาน(Median)**
สูตรหา Median ของข้อมูลจัดกลุ่ม : $$M_e=L_e+\frac{\frac{n}{2}-\sum_{b=1}^{e}f_b}{f_e}\cdot I$$

In [30]:
df_calculus

  calculus_scores  student_count
0           30-40              1
1           41-50              1
2           51-60              9
3           61-70             19
4           71-80             22
5           81-90              5
6          91-100              3

In [32]:
df_calculus['ferq_student_count'] = df_calculus['student_count'].cumsum()
boundary = df_calculus['calculus_scores'].str.split('-',expand=True).astype(int)
med_pos = sum(df_calculus['student_count'])/2
e = df_calculus[df_calculus['ferq_student_count'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_calculus['student_count'][e]
I = np.ceil(50-40)
med = Le + ((med_pos - df_calculus['ferq_student_count'][e-1])/fe)*I
med

70.5