# แบบฝึกหัด 3

---

In [1]:
import numpy as np
import pandas as pd
import statistics

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ asm3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [2]:
df_it = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_1_itcost.csv')
df_it

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10
5      25001-30000            16
6          >=30001             5

In [8]:
df_it['maintenance_cost'] = df_it['maintenance_cost'].replace({'<=5000':'0-5000','>=30001':'30001-35000'})
boundary = df_it['maintenance_cost'].str.split('-',expand=True).astype(int)
med_pos = sum(df_it['num_customer'])/2
df_it['ferq_num_customer'] = df_it['num_customer'].cumsum()
e = df_it[df_it['ferq_num_customer'] >= med_pos].index[0]
Le = boundary[0][e] - 0.5
fe = df_it['num_customer'][e]
I = np.ceil(15000-10000)
meddian = Le + ((med_pos - df_it['ferq_num_customer'][e-1])/fe)*I
print(meddian)

d_p = abs(df_it['num_customer'][e] - df_it['num_customer'][e-1])
d_n = abs(df_it['num_customer'][e] - df_it['num_customer'][e+1])

mode = Le + (d_p/(d_p+d_n))*I
mode

9634.646341463415

6379.810344827586

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'asm3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [10]:
df_score = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_2_score.csv')
df_score.head()

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16

In [12]:
#your code
boundary = df_score['score'].str.split('-',expand=True).astype(int)
df_score["Midvalue"] = (boundary[0]+boundary[1])/2
mean = sum(df_score["Midvalue"]*df_score['num_student'])/sum(df_score['num_student'])
mean

25.85

**3.2.2 ค่ามัธยฐาน**

In [7]:
#your code

25.77777777777778

**3.2.3 ค่าฐานนิยม**

In [8]:
#your code

29.25

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [35]:
#your code

Q3 = 33.14705882352941
Q1 = 19.071428571428573

**3.2.5 D<sub>7</sub>**

In [27]:
#your code

31.333333333333336

**3.2.6 P<sub>75</sub>**

In [28]:
#your code

32.72222222222222

In [9]:
df_score

   score  num_student  midvalue     fx  sc_from  sc_to  num_student_cum
0  11-15           15      13.0  195.0       11     15               15
1  16-20           14      18.0  252.0       16     20               29
2  21-25           20      23.0  460.0       21     25               49
3  26-30           18      28.0  504.0       26     30               67
4  31-35           16      33.0  528.0       31     35               83
5  36-40           17      38.0  646.0       36     40              100

**3.2.7 พิสัย**

In [31]:
#your code

29

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [37]:
#your code
d

7.03781512605042

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [53]:
#your code

ค่าความแปรปรวน : 69.1275
ส่วนเบี่ยงเบนมาตรฐาน : 8.314294918993431

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [54]:
#your code
cv = (stdstu / scmean) *100
cv

32.16361670790495

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [17]:
fps = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
       22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
       32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]

In [44]:
#your coded
df_fps = pd.DataFrame({'fps': fps})
fpsmean = df_fps.mean()
fpsmean

fps    37.013333
dtype: float64

ส่วนเบี่ยงเบนมาตราฐาน:

In [45]:
fpsstd = df_fps['fps'].std()
fpsstd

13.51187812906528

ฐานนิยม:

In [46]:
#your code
fpsmode = df_fps['fps'].mode()
fpsmode

0    25.5
Name: fps, dtype: float64

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [47]:
#your code
q1 = df_fps['fps'].quantile(0.25)
d3 = df_fps['fps'].quantile(0.30)
p45 = df_fps['fps'].quantile(0.45)
print(f"q1 = {q1}")
print(f"d3 = {d3}")
print(f"p45 = {p45}")

q1 = 28.0
d3 = 29.02
p45 = 32.260000000000005

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [59]:
#your code
engin1 =(320/9000)*100
engin2 =(900/14000)*100
print(f"ระบบ 1 {engin1}")
print(f"ระบบ 2 {engin2}")
print(f"สรุปได้ว่า เครื่องที่ 1 เที่ยงตรงมากกว่า")

ระบบ 1 3.5555555555555554
ระบบ 2 6.428571428571428
สรุปได้ว่า เครื่องที่ 1 เที่ยงตรงมากกว่า