# แบบฝึกหัด 3

---

In [1]:
import numpy as np
import pandas as pd
import statistics

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ asm3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [2]:
df_it = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_1_itcost.csv')
df_it.head()

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10

In [3]:
#your code

###

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'asm3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [4]:
df_score = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_2_score.csv')
df_score.head()

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16

In [5]:
#your code

**3.2.2 ค่ามัธยฐาน**

In [6]:
#your code

**3.2.3 ค่าฐานนิยม**

In [7]:
#your code

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [8]:
#your code

**3.2.5 D<sub>7</sub>**

In [9]:
#your code

**3.2.6 P<sub>75</sub>**

In [10]:
#your code

**3.2.7 พิสัย**

In [11]:
#your code

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [12]:
#your code

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [13]:
#your code

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [14]:
#your code

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [15]:
fps = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
       22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
       32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]

In [16]:
#your code

ส่วนเบี่ยงเบนมาตราฐาน:

In [17]:
#your code

ฐานนิยม:

In [18]:
#your code

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [19]:
#your code

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [20]:
#your code